block vars
  -
    var page = data.pages.index;

doctype html
html(lang="ja")
  head
    include ./_layout/_head.pug
  body
    .p-index-content
      h1
        |Pjax
      p
        |it is utility class that manage asynchronous transition on website.
      h2
        |Variation
      ul
        li
          a(href="./with_preload/") Pjax with preload
      h2
        |Source
      ul
        li
          a(href="https://github.com/ykob/pjax", target = '_blank')
            |https://github.com/ykob/pjax
