.l-contents {
  line-height: 2;
  overflow: hidden;
  position: relative;
  z-index: 10;
  @include fontSizeAll(14, 14, 12);
  &.is-fixed {
    position: fixed;
    top: 0; right: 0; left: 0;
  }
  &__in {
    margin-right: 10%;
    margin-bottom: (200 / 1366) * 100%;
    margin-left: 10%;
    padding-top: (100 / 1366) * 100%;
    padding-bottom: (100 / 1366) * 100%;
    background-color: #fff;
    &--index {
      margin-top: -50px;
    }
  }
}
