.l-contents {
  width: 100%;
  line-height: 2;
  overflow: hidden;
  position: relative;
  z-index: 10;
  @include fontSizeAll(14, 14, 12);
  &.is-fixed {
    position: fixed;
    top: 0; right: 0; left: 0;
  }
  &__in {
    background-color: #fff;
    @include l-pc {
      margin-right: 10%;
      margin-bottom: (200 / 1366) * 100%;
      margin-left: 10%;
      padding-top: (100 / 1366) * 100%;
      padding-bottom: (100 / 1366) * 100%;
    }
    @include l-tablet {
      margin-right: 30px;
      margin-bottom: 200px;
      margin-left: 30px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include l-mobile {
      margin-right: 15px;
      margin-bottom: 100px;
      margin-left: 15px;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &--index {
      margin-top: -50px;
    }
  }
  &--basic {
    opacity: 0;
    &.is-arrived-contents {
      opacity: 1;
      transition-duration: .6s;
      transition-delay: .4s;
      transition-property: opacity;
    }
    &.is-leaved-contents {
      opacity: 0;
      transition-duration: .6s;
      transition-property: opacity;
    }
  }
}
