.p-contents-overlay {
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
  z-index: 500;
  background-color: #222;
  //
  // interaction
  //
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 0.4s;
  &.is-expand {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: $easeOutCubic;
  }
  &.is-shrink {
    transform-origin: right;
    transform: scaleX(0);
    transition-timing-function: $easeInCubic;
  }
}
