.p-global-head {
  line-height: 1.1;
  position: fixed;
  top: 40px; right: 0; left: 0;
  z-index: 100;
  @include fontSizeAll(42, 32, 24);
  text-align: center;
  mix-blend-mode: difference;
  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
  }
}
