.p-global-head {
  line-height: 1.1;
  position: fixed;
  top: 40px; right: 0; left: 0;
  @include fontSizeAll(42, 32, 24);
  text-align: center;
  a {
    display: inline-block;
    color: $color-text-black;
    text-decoration: none;
  }
}
