.p-index-header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  color: #fff;
  text-align: center;
  &__title {
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 20px;
    @include fontSizeAll(64, 56, 42);
    font-weight: 400;
  }
  &__excerpt {
    margin: 0;
  }
  &__btn {
    display: inline-block;
    margin-top: 30px;
  }
}
