block vars

doctype html
html(lang="ja")
  head
    include ./_head.pug
  body
    .l-page.js-pjax-page(data-page-id=page.id)
      .p-contents-overlay.js-pjax-overlay.is-expand
      .p-progress.js-pjax-progress
        .p-progress__marker
      .l-dummy-scroll.js-dummy-scroll
      .js-pjax-contents-before
        block contentFixedBefore
      .l-contents.js-contents.js-pjax-contents
        block contentStatic
      .js-pjax-contents-after
        block contentFixedAfter
    block script
    script(src=`${data.meta.path}/js/main_with_preload.js` async)
